// Foodiary API Keys
FATSECRET_CONSUMER_KEY=275778613b5648e7a73ce4f1100c41f5
FATSECRET_CONSUMER_SECRET=1f1bdd9122e744709c5bdf91bb1f176a
CUSTOM_API_BASE_URL=https://foodiary-api.anyapp.my
CUSTOM_API_TOKEN=0de67146d99696dae07cd8dea84bbaac2600361e18fccb57d9355aec41e330bf
USDA_API_KEY=***

// Code Signing — for local dev on simulator, set automatically by Xcode
DEVELOPMENT_TEAM=SMSH6V2XQN
